<div>
    <label>Name</label>
    <input type='text' name='name' value='<%= guitar.name %>'>
</div>
<div>
    <label>Player</label>
    <select name='player'>
    <% players.forEach(player => { %>
        <% if (player.id === guitar.player) { %>
            <option selected label="<%= player.name %>" value="<%= player.id%>">
        <% } else { %>
            <option label="<%= player.name %>" value="<%= player.id%>">
            <% } %>
    <% }); %>
    </select>
</div>
<div>
    <label>Year</label>
    <input type='number' name='year' min='1945' max='2021' value='<%= guitar.year %>'>
</div>
<div>
    <label></label>
    <input type='file' name='image'>
</div>
<div>
    <label>Description</label>
    <textarea name='description'><%= guitar.description %></textarea>
</div>
